.Label {
    width: 79px;
    height: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-ink-darkest);
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.dark {
    width: 79px;
    height: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-sky-white);
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}