.userImage {
  border-radius: 50%;

  &.large {
    width: 64px;
    height: 64px;
  }

  &.medium {
    width: 40px;
    height: 40px;
  }

  &.small {
    width: 32px;
    height: 32px;
  }

  &.tiny {
    width: 24px;
    height: 24px;
  }
}
