.LightError {
    /* Caption */


    width: 96px;
    height: 20px;

    /* Small/Normal/Regular */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Red/Base */

    color: var(--color-red-base);


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.DarkError {
    /* Caption */


    width: 96px;
    height: 20px;

    /* Small/Normal/Regular */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Red/Base */

    color: var(--color-red-base);


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}