//Light

.LightTabBars {
    /* Mode=Light, State=False

Part of "Tab Bars" component
*/
    height: 56px;
    width: 125px;
    display: flex;
    align-items: center;
    border-radius: 0px;


    /* Sky/White */

    background: #FFFFFF;

    .LightTabBarsTitle {
        /* Title */
        height: 12px;
        width: 125px;


        /* Tiny/None/Regular */

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        /* identical to box height, or 100% */

        text-align: center;

        /* Ink/Light */

        color: var(--color-ink-light);


    }

    .LightTabBarsIcon {
        position: relative;
        width: 32px;
        height: 32px;

    }
}

.LightTabBarsOn {
    /* Mode=Light, State=True

Part of "Tab Bars" component
*/
    display: flex;
    align-items: center;
    height: 56px;
    width: 125px;
    /* Sky/White */

    background: #FFFFFF;

    .LightTabBarsTitleOn {
        /* Title */

        height: 12px;
        width: 125px;

        /* Tiny/None/Regular */

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        /* identical to box height, or 100% */

        text-align: center;

        /* Primary/Base */

        color: var(--color-primary-base);

    }
}

//Dark

.DarkTabBars {
    
    height: 56px;
    width: 125px;
    display: flex;
    align-items: center;
    border-radius: 0px;



    background: var(--color-ink-darker);

    .DarkTabBarsTitle {
        /* Title */
        height: 12px;
        width: 125px;


        /* Tiny/None/Regular */

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        /* identical to box height, or 100% */

        text-align: center;

        color: #979C9E;


    }

    .DarkTabBarsIcon {
        position: relative;
        width: 32px;
        height: 32px;

    }
}

.DarkTabBarsOn {
    /* Mode=Light, State=True

Part of "Tab Bars" component
*/
    display: flex;
    align-items: center;
    height: 56px;
    width: 125px;
    /* Sky/White */

    background: #202325;

    .DarkTabBarsTitleOn {
        /* Title */

        height: 12px;
        width: 125px;

        /* Tiny/None/Regular */

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        /* identical to box height, or 100% */

        text-align: center;

        /* Primary/Base */

        color: #FFFFFF
    }
}