.LightTable {
    /* Content is here */
    width: 116px;
    height: 20px;
    left: 0px;
    top: calc(50% - 20px/2);

    /* Regular/Tight/Regular */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;

    /* Ink/Darkest */

    color: var(--color-ink-darkest);

}

.DarkTable {
    /* Content is here */
    width: 116px;
    height: 20px;
    left: 0px;
    top: calc(50% - 20px/2);

    /* Regular/Tight/Regular */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;

    /* Sky/White */

    color: #FFFFFF;

}