//Light

.LightSegControls {
    /* Mode=Light, State=True

Part of "Segmented Controls" component
*/

    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 28px;

    /* Sky/White */

    background: #FFFFFF;
    /* Shadow/Small */

    box-shadow: 0px 0px 1px rgba(20, 20, 20, 0.04), 0px 0px 8px rgba(20, 20, 20, 0.08);
    border-radius: 6px;

    .LightSeg {
        /* Segment */


        width: 52px;
        height: 12px;

        /* Tiny/None/Medium */

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        /* identical to box height, or 100% */

        display: flex;
        align-items: center;
        text-align: center;

        /* Ink/Darkest */

        color: var(--color-ink-darkest);
    }
}

.LightSegControlsOn {
    /* Mode=Light, State=True

Part of "Segmented Controls" component
*/

    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 28px;

    /* Sky/White */

    background: #FFFFFF;
    /* Shadow/Small */

    .LightSegOn {
        /* Segment */


        width: 52px;
        height: 12px;

        /* Tiny/None/Medium */

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        /* identical to box height, or 100% */

        display: flex;
        align-items: center;
        text-align: center;

        /* Ink/Light */

        color: var(--color-ink-light);

    }
}

//Dark

.DarkSegControls {
    /* Mode=Dark, State=True

Part of "Segmented Controls" component
*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 28px;

    /* Ink/Dark */

    background: var(--color-ink-dark);
    /* Shadow/Small */

    box-shadow: 0px 0px 1px rgba(20, 20, 20, 0.04), 0px 0px 8px rgba(20, 20, 20, 0.08);
    border-radius: 6px;

    .DarkSeg {
        /* Segment */

        width: 52px;
        height: 12px;

        /* Tiny/None/Medium */

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        /* identical to box height, or 100% */

        display: flex;
        align-items: center;
        text-align: center;

        /* Sky/White */

        color: #FFFFFF;

    }
}

.DarkSegControlsOn {
    /* Mode=Dark, State=True

Part of "Segmented Controls" component
*/

    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 28px;

    .DarkSegOn {
        /* Segment */

        width: 52px;
        height: 12px;

        /* Tiny/None/Medium */

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        /* identical to box height, or 100% */

        display: flex;
        align-items: center;
        text-align: center;

        /* Sky/Dark */

        color: var(--color-sky-dark);

    }
}