:root {
  --font-family-main: "Courier New", "Times New Roman", serif;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  //* ============== colors ==============

  //? ============== INK ==============

  --color-ink-lighter: #72777a;
  --color-ink-light: #6c7072;
  --color-ink-base: #404446;
  --color-ink-dark: #303437;
  --color-ink-darker: #202325;
  --color-ink-darkest: #090a0a;

  //? ============== SKY ==============

  --color-sky-white: #ffffff;
  --color-sky-lightest: #f7f9fa;
  --color-sky-lighter: #f2f4f5;
  --color-sky-light: #e3e5e6;
  --color-sky-base: #cdcfd0;
  --color-sky-dark: #979c9e;

  //? ============== Primary ==============

  --color-primary-lightest: #e7e7ff;
  --color-primary-lighter: #c6c4ff;
  --color-primary-light: #9990ff;
  --color-primary-base: #6b4eff;
  --color-primary-dark: #5538ee;

  //? ============== Red ==============

  --color-red-lightest: #ffe5e5;
  --color-red-lighter: #ff9898;
  --color-red-light: #ff6d6d;
  --color-red-base: #ff5247;
  --color-red-darkest: #d3180c;

  //? ============== Green ==============

  --color-green-lightest: #ecfce5;
  --color-green-lighter: #7dde86;
  --color-green-light: #4cd471;
  --color-green-base: #23c16b;
  --color-green-darkest: #198155;

  //? ============== Yellow ==============

  --color-yellow-lightest: #ffefd7;
  --color-yellow-lighter: #ffd188;
  --color-yellow-light: #ffc462;
  --color-yellow-base: #ffb323;
  --color-yellow-darkest: #a05e03;

  //? ============== Blue ==============

  --color-blue-lightest: #c9f0ff;
  --color-blue-lighter: #9bdcfd;
  --color-blue-light: #6ec2fb;
  --color-blue-base: #48a7f8;
  --color-blue-darkest: #0065d0;

  //? ============== Facebook ==============

  --color-facebook-base: #0078ff;
  --color-facebook-dark: #0067db;

  //? ============== Twitter ==============

  --color-twitter-base: #1da1f2;
  --color-twitter-dark: #0c90e1;

  //* ============== Typography ==============

  --typography-type-1: 48px / 56px;
  --typography-type-2: 32px / 36px;
  --typography-type-3: 24px / 32px;

  //? ============== Large ==============
  --typography-large-none: 18px / 18px;
  --typography-large-tight: 18px / 20px;
  --typography-large-normal: 18px / 24px;

  //? ============== Regular ==============
  --typography-regular-none: 16px / 16px;
  --typography-regular-tight: 16px / 20px;
  --typography-regular-normal: 16px / 24px;

  //? ============== Small ==============
  --typography-small-none: 14px / 14px;
  --typography-small-tight: 14px / 16px;
  --typography-small-normal: 14px / 20px;

  //? ============== Tiny ==============
  --typography-tiny-none: 12px / 12px;
  --typography-tiny-tight: 12px / 14px;
  --typography-tiny-normal: 12px / 16px;

  //* ============== Box Shadow ==============

  --box-shadow-small: 0px 0px 1px rgba(20, 20, 20, 0.04),
    0px 0px 8px rgba(20, 20, 20, 0.08);
  --box-shadow-medium: 0px 0px 1px rgba(20, 20, 20, 0.08),
    0px 1px 8px 2px rgba(20, 20, 20, 0.08);
  --box-shadow-large: 0px 1px 24px 8px rgba(20, 20, 20, 0.08);
}
