//Light

.LightTab {

    /* Mode=Light, State=False

Part of "Tabs" component
*/

width: 125px;
height: 48px;
    /* Sky/White */

    background: #FFFFFF;

    .LightTabText {
        /* Tab Title */

        height: 16px;
        /* Regular/None/Regular */

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        /* identical to box height, or 100% */

        text-align: center;

        /* Ink/Lighter */

        color: #72777A;


    }
}

.LightTabOn {
    /* Mode=Light, State=True

Part of "Tabs" component
*/
width: 125px;
height: 48px;
    /* Sky/White */

    background: #FFFFFF;

    .LightTabTextOn {
        /* Tab Title */
        height: 16px;


        /* Regular/None/Regular */

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        /* identical to box height, or 100% */

        text-align: center;

        /* Primary/Base */

        color: #6B4EFF;

    }

    .LightIndicator {
        /* indicator */

        height: 1px;

        /* Primary/Base */

        background: #6B4EFF;
        border-radius: 2px;

    }
}

//Dark

.DarkTab {
    /* Mode=Dark, State=False

Part of "Tabs" component
*/
width: 125px;
height: 48px;

    /* Ink/Darkest

Master text
*/
    background: #090A0A;

    .DarkTabText {

        /* Tab Title */

        height: 16px;
  
        /* Regular/None/Regular */

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        /* identical to box height, or 100% */

        text-align: center;

        /* Sky/Dark */

        color: #979C9E;

    }
}

.DarkTabOn {
    /* Mode=Dark, State=True

Part of "Tabs" component
*/
width: 125px;
height: 48px;
    /* Ink/Darkest

Master text
*/
    background: #090A0A;

    .DarkTabTextOn {
        /* Tab Title */

        height: 16px;
 
        /* Regular/None/Regular */

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        /* identical to box height, or 100% */

        text-align: center;

        /* Primary/Light */

        color: #9990FF;
    }

    .DarkIndicator {
        /* indicator */

        height: 1px;

        /* Primary/Light */

        background: #9990FF;
        border-radius: 2px;
    }
}