.TextFieldsWrapper {
  display: flex;
  flex-direction: column;

  .TextFieldsLabel {
    margin: 5px 0 4px 8px;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-ink-darkest) ;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .TextFields {
    width: 327px;
    height: 48px;
    margin: 8px;
    border-radius: 8px;
    padding: 8px 8px 8px 30px;
    font-size: var(--typography-regular-none);

    &.default {
      border-color: var(--color-sky-light);
      background-color: var(--color-sky-white);
      color: var(--color-ink-lighter);
    }

    &.focused {
      border-color: var(--color-primary-base) ;
      background-color: var(--color-sky-white) ;
      color: var(--color-ink-darkest) ;
    }

    &.filled {
      border-color: var(--color-sky-light) ;
      background-color: var(--color-sky-white) ;
      color: var(--color-ink-darkest) ;
    }

    &.error {
      border-color: var(--color-red-base) ;
      background-color: var(--color-sky-white) ;
      color: var(--color-ink-darkest) ;
    }

    &.disabled {
      border-color: var(--color-sky-lighter) ;
      background-color: var(--color-sky-lightest) ;
      color: var(--color-sky-base) ;
      cursor: not-allowed ;
    }
  }

  .TextFieldErrorText {
    font-size: var(--typography-regular-none);
    color: var(--color-red-base);
    margin: 8px;
  }

  .TextFieldsCaption {
    font-size: var(--typography-regular-none);
    color: var(--color-ink-light);
    font-size: 14px;
    margin: 8px;
  }

  .columns {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .icon {
    position: absolute;
    left: 17px;
    bottom: 30px;
    // bottom: 60px; errori depqum
    fill: var(--color-sky-dark) ;
  }
}


// --- dark mod ---

.dark {

  .TextFieldsLabel {
    margin: 8px 0 4px 8px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-sky-white) ;
  }

  &.TextFields {
    width: 327px;
    height: 48px;
    margin: 8px;
    border-radius: 8px;
    padding: 8px ;
    padding-left: 30px ;
    font-size: var(--typography-regular-none) ;

    &.default {
      border-color: var(--color-ink-dark) ;
      background-color: var(--color-ink-darkest) ;
      color: var(--color-sky-dark) 
    }

    &.focused {
      border-color: var(--color-primary-base) ;
      background-color: var(--color-ink-darkest) ;
      color: var(--color-sky-white) 
    }

    &.filled {
      border-color: var(--color-ink-dark) ;
      background-color: var(--color-ink-darkest) ;
      color: var(--color-sky-dark) 
    }

    &.error {
      border-color: var(--color-red-base) ;
      background-color: var(--color-ink-darkest) ;
      color: var(--color-sky-white) 
    }

    &.disabled {
      border-color: var(--color-ink-darker) ;
      background-color: var(--color-ink-darker) ;
      color: var(--color-ink-base) ;
      cursor: not-allowed ;
    }

  }

  &.TextFieldErrorText {
    font-size: var(--typography-regular-none);
    color: var(--color-red-base);
    margin: 8px;
  }

  &.TextFieldsCaption {
    font-size: var(--typography-regular-none);
    color: var(--color-sky-dark);
    font-size: 14px;
    margin: 8px;
  }


  .columns .icon {
    position: absolute;
    left: 17px;
    bottom: 30px;
    // bottom: 60px; errori depqum
    fill: var(--color-ink-darkest) ;
  }

}